<h3>Lista de usuarios:</h3>
<ul>
    <!-- Tipos de directivas:
        * directiva estructural (*ngFor, *ngIf...)
        For EACH. -->
    <li *ngFor="let usu of listaUsu">
        <label>Datos:</label>
        {{ usu.id + ", " + usu.nombre + " - " + usu.email}}
        <input type="button" value="x" (click)="eliminar(usu.id)"/>
        <input type="button" value="M" (click)="formVisible=true;usuModif=usu"/>
        
    </li>
</ul>

<div *ngIf="formVisible">
    <input [(ngModel)]="usuModif.nombre">....
    <input value="OK" type="button" (click)="enviar()">
    <input value="X" type="button" (click)="formVisible=false">
</div>